@import "tailwindcss";

@theme {
  --color-Licorice: #23140c;
  --color-Khaki: #d0ba98;
  --color-DarkRed: #91040c;
  --color-blood: #822b28;
  --font-aktura: "Aktura", "sans-serif";
  --font-Satoshi: "satoshi", "sans-serif";
  --font-SatoshiSec: "satoshi", "sans-serif";
  --font-Gambarino: "gambarino", "sans-serif";
}

@font-face {
  font-family: Aktura;
  src: url(/src/assets/fonts/Aktura_Complete/Aktura_Complete/Fonts/OTF/Aktura-Regular.otf)
    format("opentype");
}
@font-face {
  font-family: Satoshi;
  src: url(/src/assets/fonts/Satoshi_Complete/Satoshi_Complete/Fonts/OTF/Satoshi-Bold.otf)
    format("opentype");
}
@font-face {
  font-family: Satoshi;
  src: url(/src/assets/fonts/Satoshi_Complete/Satoshi_Complete/Fonts/OTF/Satoshi-Regular.otf)
    format("opentype");
}
@font-face {
  font-family: Gambarino;
  src: url(./assets/fonts/Gambarino_Complete/Gambarino_Complete/Fonts/OTF/Gambarino-Regular.otf)
    format("opentype");
}

body {
  padding: 0;
  margin: 0;
  background: #ffffff;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

input[type="date"] {
  color: black;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="date"] {
  font-family: "GeneralSans", sans-serif;
  color: gray;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(40%);
  cursor: pointer;
}

/* optional placeholder effect */
input[type="date"]:invalid::before {
  content: attr(placeholder);
  color: #888;
  position: absolute;
  margin-left: 10px;
}
input[type="date"]:valid::before {
  content: "";
}
